<section id="no-question">
    <div class="illustration">
        <img src="/images/Ilustração.svg" alt="Sem Questões">
    </div>
    <div class="no-question-text">
        <p>Nenhuma pergunta por aqui...</p>
        <p>Faça a sua primeira pergunta e envie o código dessa sala para outras pessoas</p>
    </div>
</section>